<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUCfs2dikaOxKMnKSaYZaRboKJWPwIiQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>507134725755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EKGDev.Systems-Inspector</string>
	<key>PROJECT_ID</key>
	<string>systems-inspector</string>
	<key>STORAGE_BUCKET</key>
	<string>systems-inspector.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507134725755:ios:3c89b7970f65c9ecd65cde</string>
</dict>
</plist>